# Web Scrapping Assignment 4 (Using Selenium)

### Importing Necessary Libraries

In [1]:
import pandas as pd
import selenium 
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import re

In [2]:
Path = 'C:\Program Files (x86)\chromedriver.exe'
driver = webdriver.Chrome(Path)

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
- Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
- A) Rank
- B) Name
- C) Artist
- D) Upload date
- E) Views__

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
rank = []

r = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td')

for i in r:
    try:
        rank.append(i.text)
    except NoSuchElementException:
        rank.append('-')
        
#rank

In [5]:
Names = []
for i in range(1,len(rank),6):
       Names.append(rank[i])
#Names

In [6]:
Rank = []
for i in range(0,len(rank),6):
       Rank.append(rank[i])
#Rank

In [7]:
Artist = []
for i in range(2,len(rank),6):
       Artist.append(rank[i])
#Artist

In [8]:
Date = []
for i in range(4,len(rank),6):
    Date.append(rank[i])
#Date

In [9]:
Views = []
for i in range(3,len(rank),6):
    Views.append(rank[i])
#Views

In [10]:
most_viewed_videos_on_youtube = pd.DataFrame({})
most_viewed_videos_on_youtube['Rank'] = Rank
most_viewed_videos_on_youtube['Title of the Video'] = Names
most_viewed_videos_on_youtube['Artist of the Video'] = Artist
most_viewed_videos_on_youtube['Date of Upload'] = Date
most_viewed_videos_on_youtube['Number of views (In Billions)'] = Views
most_viewed_videos_on_youtube

,Rank,Title of the Video,Artist of the Video,Date of Upload,Number of views (In Billions)
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",9.04
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.46
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.58
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.40
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.19
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.45
6,7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.37
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.31
8,9.,"""Uptown Funk""[33]",Mark Ronson,"November 19, 2014",4.24
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.13
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",4.02
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.51
12,13.,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.48
13,14.,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.45
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.39
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.35
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.29
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.18
18,19.,"""Dark Horse""[44]",Katy Perry,"February 20, 2014",3.11
19,20.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.10
20,21.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.08
21,22.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.08
22,23.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.07
23,24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.07
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.03
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.95
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.90
27,28.,"""Axel F""[53]",Crazy Frog,"June 16, 2009",2.90
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.89
29,30.,"""Hello""[55]",Adele,"October 22, 2015",2.86

### 2. Scrape the details team India’s international fixtures from bcci.tv.
- Url = https://www.bcci.tv/.
You need to find following details:
- A) Match title (I.e. 1st ODI)
- B) Series
- C) Place
- D) Date
- E) Time
- Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [11]:
driver.get("https://www.bcci.tv/")

In [12]:
link = driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']").get_attribute('href')

In [13]:
driver.get(link)

In [14]:
Series = []
sr = driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in sr:
    Series.append(i.text)
#Series

In [15]:
Title = []
tt = driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in tt:
    Title.append(i.text)
#Title

In [16]:
Place = []
loc = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//span")
for i in loc:
    Place.append(i.text)
#Place

In [17]:
Date = []
dt = driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']")
for i in dt:
    Date.append(i.text.split('\n'))
#Date

In [18]:
Time = []
tm = driver.find_elements_by_xpath("//span[@class='fixture__time']")
for i in tm:
    Time.append(i.text)
#Time

In [19]:
dt = ((Date[0][1] +'-' +Date [0][2]),
      (Date[1][1] +'-' +Date [1][2]),
      (Date[2][1] +'-' +Date [2][2]),
      (Date[3][1] +'-' +Date [3][2]),
      (Date[4][1] +'-' +Date [4][2]))
#dt

In [20]:
Day =(Date[0][0],
     Date[1][0],
     Date[2][0],
     Date[3][0],
     Date[4][0]) 
#Day

In [21]:
Internation_Fixtures = pd.DataFrame({})
Internation_Fixtures['Match Title'] = Title
Internation_Fixtures['Series'] = Series
Internation_Fixtures['Location'] = Place
Internation_Fixtures['Date'] = dt
Internation_Fixtures['Day'] = Day
Internation_Fixtures['Time'] = Time
Internation_Fixtures

,Match Title,Series,Location,Date,Day,Time
0,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04-AUGUST,Wednesday,15:30 IST
1,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12-AUGUST,Thursday,15:30 IST
2,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25-AUGUST,Wednesday,15:30 IST
3,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02-SEPTEMBER,Thursday,15:30 IST
4,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10-SEPTEMBER,Friday,15:30 IST

### 3. Scrape the details of selenium exception from guru99.com.
- Url = https://www.guru99.com/
- You need to find following details:
    - A) Name
    - B) Description
- Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [22]:
driver.get("https://www.guru99.com/")

In [23]:
selenium = driver.find_element_by_xpath('//*[@id="java_technologies"]/li[3]/a').get_attribute('href')
driver.get(selenium)

In [24]:
exception = driver.find_element_by_xpath('/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a').get_attribute('href')
driver.get(exception)

In [25]:
Data = []
nm = driver.find_elements_by_xpath("//table[@class='table table-striped']//td")

for i in nm:
    try:
        Data.append(i.text)
    except NoSuchElementException:
        Data.append('-')
#Data

In [26]:
Name = []
for i in range(2,len(Data),2):
    Name.append(Data[i])
#Name

In [27]:
Description = []
for i in range(3,len(Data),2):
    Description.append(Data[i])
#Description

In [28]:
pd.set_option('display.max_colwidth', None)
Selenium_Exceptions = pd.DataFrame({})
Selenium_Exceptions['Exception Name'] = Name
Selenium_Exceptions['Exception Description'] = Description 
Selenium_Exceptions

,Exception Name,Exception Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.
1,ElementNotSelectableException,"This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact."
2,NoSuchElementException,This Exception occurs if an element could not be found.
3,NoSuchFrameException,This Exception occurs if the frame target to be switched to does not exist.
4,NoAlertPresentException,This Exception occurs when you switch to no presented alert.
5,NoSuchWindowException,This Exception occurs if the window target to be switch does not exist.
6,StaleElementReferenceException,This Selenium exception occurs happens when the web element is detached from the current DOM.
7,SessionNotFoundException,The WebDriver is acting after you quit the browser.
8,TimeoutException,"Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time."
9,WebDriverException,This Exception takes place when the WebDriver is acting right after you close the browser.
10,ConnectionClosedException,This type of Exception takes place when there is a disconnection in the driver.
11,ElementClickInterceptedException,The command may not be completed as the element receiving the events is concealing the element which was requested clicked.
12,ElementNotInteractableException,"This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element."
13,ErrorInResponseException,This happens while interacting with the Firefox extension or the remote driver server.
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if the server returns an error without a stack trace.
15,ImeActivationFailedException,This expectation will occur when IME engine activation has failed.
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.
18,InvalidArgumentException,It occurs when an argument does not belong to the expected type.
19,InvalidCookieDomainException,This happens when you try to add a cookie under a different domain instead of current URL.
20,InvalidCoordinatesException,This type of Exception matches an interacting operation that is not valid.
21,InvalidElementStateExceptio,It occurs when command can't be finished when the element is invalid.
22,InvalidSessionIdException,This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.
23,InvalidSwitchToTargetException,This occurs when the frame or window target to be switched does not exist.
24,JavascriptException,This issue occurs while executing JavaScript given by the user.
25,JsonException,It occurs when you afford to get the session when the session is not created.
26,NoSuchAttributeException,This kind of Exception occurs when the attribute of an element could not be found.
27,MoveTargetOutOfBoundsException,"It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document."
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.
30,NotFoundException,This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.
31,RemoteDriverServerException,This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be successfully created.
34,UnableToSetCookieException,This occurs if a driver is unable to set a cookie.
35,UnexpectedTagNameException,Happens if a support class did not get a web element as expected.
36,UnhandledAlertException,"This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation."
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an unexpected alert.
38,UnknownMethodException,This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.
39,UnreachableBrowserException,This Exception occurs only when the browser is not able to be opened or crashed because of some reason.
40,UnsupportedCommandException,This occurs when remote WebDriver does n't send valid commands as expected.

### 4. Scrape the details of State-wise GDP of India from statisticstime.com.
- Url = http://statisticstimes.com/
- You have to find following details:
    - A) Rank
    - B) State
    - C) GSDP at current price (19-20)
    - D) GSDP at current price (18-19)
    - E) Share(18-19)
    - F) GDP($ billion)
- Note: - From statisticstimes home page you have to reach to economy page through code

In [29]:
driver.get("http://statisticstimes.com/")

In [30]:
button = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button')
button.click()

In [31]:
link = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').get_attribute("href")
driver.get(link)

In [32]:
statewiseGDP = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').get_attribute("href")
driver.get(statewiseGDP)

In [33]:
Rank = []

rank = driver.find_elements_by_xpath("//td[@class='data1']")

for i in rank:
    try:
        Rank.append(i.text)
        
    except NoSuchElementException:
        Rank.append('-')
        
#Rank

In [34]:
State = []

state = driver.find_elements_by_xpath("//td[@class='name']")

for i in state:
    try:
        State.append(i.text)
        
    except NoSuchElementException:
        State.append('-')
        
#State

In [35]:
GSDP = []

gsdp = driver.find_elements_by_xpath("//td[@class='data']")

for i in gsdp:
    try:
        GSDP.append(i.text)
        
    except NoSuchElementException:
        GSDP.append('-')
        
#GSDP

In [36]:
GDP = []

for i in range(3,len(GSDP),6):
    GDP.append(GSDP[i])
#GDP[:33]

In [37]:
gs18 = []

for i in range(1,len(GSDP),6):
    gs18.append(GSDP[i])
#gs18[:33]

In [38]:
gs19 = []

for i in range(0,len(GSDP),6):
    gs19.append(GSDP[i])
#gs19[:33]

In [39]:
share = []

for i in range(2,len(GSDP),6):
    share.append(GSDP[i])
#share[:33]

In [40]:
Indian_Statewise_GDP = pd.DataFrame({})
Indian_Statewise_GDP['Rank'] = Rank [:33]
Indian_Statewise_GDP['Name of the State'] = State[:33]
Indian_Statewise_GDP['GSDP (Cr INR at Current prices) 19-20 '] = gs19[:33]
Indian_Statewise_GDP['GSDP (Cr INR at Current prices) 18-19 '] = gs18[:33]
Indian_Statewise_GDP['Share'] = share[:33]
Indian_Statewise_GDP['GDP ($billion) 2019'] = GDP[:33]
Indian_Statewise_GDP

,Rank,Name of the State,GSDP (Cr INR at Current prices) 19-20,GSDP (Cr INR at Current prices) 18-19,Share,GDP ($billion) 2019
0,1,Maharashtra,-,13.94%,399.921,-
1,2,Tamil Nadu,8.63%,247.629,"1,312,929","1,215,307"
2,3,Uttar Pradesh,240.726,"1,166,817","1,123,982",-
3,4,Gujarat,-,"1,186,379","1,631,977",7.91%
4,5,Karnataka,"1,091,077","1,253,832",5.77%,165.556
5,6,West Bengal,"1,020,989",4.99%,143.179,"711,627"
6,7,Rajasthan,4.57%,131.083,"672,018","621,301"
7,8,Andhra Pradesh,130.791,"663,258","612,828","906,672"
8,9,Telangana,"561,801","522,009",-,4.14%
9,10,Madhya Pradesh,"559,412","856,112",4.10%,117.703
10,11,Kerala,"831,610",3.89%,111.519,"572,240"
11,12,Delhi,2.81%,80.562,"414,977","375,651"
12,13,Haryana,79.957,"418,868","397,669","521,275"
13,14,Bihar,"396,499","376,877",-,1.67%
14,15,Punjab,"234,048","329,180",1.61%,46.187
15,16,Odisha,"328,598",1.57%,45.145,"240,036"
16,17,Assam,1.30%,37.351,-,"193,273"
17,18,Chhattisgarh,23.690,-,"112,755","165,472"
18,19,Jharkhand,"124,403","117,851","80,449",0.39%
19,20,Uttarakhand,"57,787","55,984",0.26%,7.571
20,21,Jammu & Kashmir,-,0.22%,6.397,-
21,22,Himachal Pradesh,0.18%,5.230,"25,093","23,013"
22,23,Goa,5.086,"26,695","24,682","32,496"
23,24,Tripura,"20,017","18,722","31,790",0.15%
24,25,Chandigarh,"19,300",-,0.14%,4.144
25,26,Puducherry,-,0.13%,3.737,-
26,27,Meghalaya,0.12%,3.385,"18,797","16,478"
27,28,Sikkim,-,-,-,"20,351,013"
28,29,Manipur,"2,869","14,569,268","14,003,316",-
29,30,Nagaland,"1,794,123","1,659,210",8.77%,"1,167,776"
30,31,Arunachal Pradesh,8.41%,"1,015,735","979,159","1,476,983"
31,32,Mizoram,"976,948",-,7.92%,-
32,33,Andaman & Nicobar Islands,5.96%,"713,376","662,432","916,014"

### 5. Scrape the details of trending repositories on Github.com.
- Url = https://github.com/
- You have to find the following details:
    - A) Repository title
    - B) Repository description
    - C) Contributors count
    - D) Language used
-Note: - From the home page you have to click on the trending option from Explore menu through code.

In [41]:
driver.get("https://github.com/")

In [42]:
trending = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a').get_attribute("href")
driver.get(trending)

In [43]:
title = []
tt = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")

for i in tt:
    try:
        title.append(i.text)
        
    except NoSuchElementException:
        title.append('-')
        
#title

In [44]:
description = []
desp = driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")

for i in desp:
    try:
        description.append(i.text)
        
    except NoSuchElementException:
        description.append('-')
        
#description

In [45]:
Language = []
lang = driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")

for i in lang:
    try:
        Language.append(i.text)
        
    except NoSuchElementException:
        Language.append('-')
        
#Language

In [46]:
Contributors = []
cnt = driver.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']")

for i in cnt:
    try:
        Contributors.append(i.text)
        
    except NoSuchElementException:
        Contributors.append('-')
        
#Contributors

In [47]:
Trending_Repositories = pd.DataFrame({})
Trending_Repositories['Title of Repository'] = title[:20]
Trending_Repositories['Description'] = description[:20]
Trending_Repositories['Computer Language Used'] = Language[:20]
Trending_Repositories['Contributor Count'] = Contributors[:20]
Trending_Repositories

,Title of Repository,Description,Computer Language Used,Contributor Count
0,apple / swift-algorithms,Commonly used sequence and collection algorithms for Swift,Swift,"3,264"
1,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and curriculum. Learn to code for free.,JavaScript,193
2,SJang1 / korea-covid-19-remaining-vaccine-macro,잔여백신 조회 및 예약 매크로,Python,"327,366"
3,dataease / dataease,人人可用的开源数据可视化分析工具。,Java,"26,229"
4,google / googletest,GoogleTest - Google Testing and Mocking Framework,C++,313
5,myspaghetti / macos-virtualbox,"Push-button installer of macOS Catalina, Mojave, and High Sierra guests in Virtualbox for Windows, Linux, and macOS",Shell,119
6,tailscale / tailscale,"The easiest, most secure way to use WireGuard and 2FA.",Go,"1,210"
7,electron / electron,"Build cross-platform desktop apps with JavaScript, HTML, and CSS",C++,158
8,Satsuoni / widevine-l3-guesser,decompiled pegasus_spyware,C,"23,268"
9,jonathandata1 / pegasus_spyware,"50+ mini web projects using HTML, CSS & JS",Smali,"7,732"
10,bradtraversy / 50projects50days,Development repository for the Triton language and compiler,CSS,"8,646"
11,openai / triton,Web app for adding EU Digital COVID Certificates to your wallet apps,C++,729
12,covidpass-org / covidpass,Open-source repository of Orbiter Space Flight Simulator,TypeScript,"4,974"
13,mschweiger / orbiter,Please do not use this tracker to scam anyone! This is free and will be forever free. This tracking will never ask for seed phrases nor private keys. Keep safe!,C++,253
14,ed3ath / cbtracker,分享 GitHub 上有趣、入门级的开源项目,JavaScript,"94,770"
15,521xueweihan / HelloGitHub,Sample apps built using the Xamarin.Forms framework,Python,"12,533"
16,xamarin / xamarin-forms-samples,"The lightweight PyTorch wrapper for high-performance AI research. Scale your models, not the boilerplate.",C#,109
17,PyTorchLightning / pytorch-lightning,A collection of extension libraries for Jetpack Compose,Python,58
18,google / accompanist,Tracking interesting Linux (and UNIX) malware. Send PRs,Kotlin,176
19,rafaballerini / rafaballerini,Collection of Summer 2022 tech internships!,Shell,80

### 6. Scrape the details of top 100 songs on billboard.com.
- Url = https://www.billboard.com/
- You have to find the following details:
    - A) Song name
    - B) Artist name
    - C) Last week rank
    - D) Peak rank
    - E) Weeks on board
- Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [48]:
driver.get("https://www.billboard.com/")

In [49]:
top100 = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/nav/ul/li[3]/a').get_attribute("href")
driver.get(top100)

In [50]:
Rank = []
rk = driver.find_elements_by_xpath("//span[@class='chart-element__rank__number']")

for i in rk :
    try:
        Rank.append(i.text)
    except NoSuchElementException:
        Rank.append('-')
        
#Rank

In [51]:
Name = []
nm = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")

for i in nm :
    try:
        Name.append(i.text)
    except NoSuchElementException:
        Name.append('-')
        
#Name

In [52]:
Artist = []
art = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")

for i in art :
    try:
        Artist.append(i.text)
    except NoSuchElementException:
        Artist.append('-')
        
#Artist

In [53]:
lastweek = []
last = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")

for i in last :
    try:
        lastweek.append(i.text)
    except NoSuchElementException:
        lastweek.append('-')
        
#lastweek

In [54]:
Peak = []
pk = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")

for i in pk :
    try:
        Peak.append(i.text)
    except NoSuchElementException:
        Peak.append('-')
        
#Peak

In [55]:
weeksonchart = []
woc = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")

for i in woc :
    try:
        weeksonchart.append(i.text)
    except NoSuchElementException:
        weeksonchart.append('-')
        
#weeksonchart

In [56]:
Top_100_billboard = pd.DataFrame({})
Top_100_billboard['Current Rank'] = Rank
Top_100_billboard['Name of the Song'] = Name
Top_100_billboard['Artist'] = Artist
Top_100_billboard['Last Week Rank'] = lastweek
Top_100_billboard['Peak Rank'] = Peak
Top_100_billboard['Weeks on Chart'] = weeksonchart
Top_100_billboard

,Current Rank,Name of the Song,Artist,Last Week Rank,Peak Rank,Weeks on Chart
0,1,Butter,BTS,7,1,9
1,2,Good 4 U,Olivia Rodrigo,2,1,10
2,3,Levitating,Dua Lipa Featuring DaBaby,4,2,42
3,4,Stay,The Kid LAROI & Justin Bieber,3,3,2
4,5,Kiss Me More,Doja Cat Featuring SZA,5,3,15
...,...,...,...,...,...,...
95,96,Build A Bitch,Bella Poarch,84,56,10
96,97,30,Pop Smoke Featuring Bizzy Banks,-,97,1
97,98,You Should Probably Leave,Chris Stapleton,91,90,3
98,99,"Jealousy, Jealousy",Olivia Rodrigo,87,24,9
99,100,Cold Beer Calling My Name,Jameson Rodgers Featuring Luke Combs,95,95,3

### 7. Scrape the details of Data science recruiters from naukri.com.
- Url = https://www.naukri.com/
- You have to find the following details:
    - A) Name
    - B) Designation
    - C) Company
    - D) Skills they hire for
    - E) Location
- Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [98]:
driver.get("https://www.naukri.com/")

In [99]:
recruiters = driver.find_element_by_xpath("/html/body/div[1]/div[1]/div/ul[1]/li[2]/a").get_attribute('href')
driver.get(recruiters)

In [100]:
search = driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")

In [101]:
button = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
button.click()

In [102]:
Name = []

nm = driver.find_elements_by_xpath("//span[@class='fl ellipsis']")

for i in nm:
    try:
        Name.append(i.text)
        
    except NoSuchElementException:
        Name.append('-')
        
#Name

In [103]:
Designation = []

ds = driver.find_elements_by_xpath("//span[@class='ellipsis clr']")

for i in ds:
    try:
        Designation.append(i.text)
        
    except NoSuchElementException:
        Designation.append('-')
        
#Designation

In [104]:
Skills = []

sk = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")

for i in sk:
    try:
        Skills.append(i.text)
        
    except NoSuchElementException:
        Skills.append('-')
        
#Skills

In [105]:
Place = []

loc = driver.find_elements_by_xpath("//small[@class='ellipsis']")

for i in loc:
    try:
        Place.append(i.text)
        
    except NoSuchElementException:
        Place.append('-')
        
#Place

In [106]:
Company = []

org = driver.find_elements_by_xpath('//a[@class="ellipsis"]')

for i in org:
    try:
        Company.append(i.text)
        
    except NoSuchElementException:
        Company.append('-')
        
#Company

In [107]:
Comp = []
for i in range(1,len(Company),2):
    Comp.append(Company[i])
#Comp

In [108]:
Naukri_Recruiters = pd.DataFrame({})
Naukri_Recruiters['Name of the Recruiter'] = Name[:45]
Naukri_Recruiters['Company Hiring'] = Comp[:45]
Naukri_Recruiters['Designation'] = Designation[:45]
Naukri_Recruiters['Location'] = Place[:45]
Naukri_Recruiters['Skills Required for getting hired'] = Skills[:45]
Naukri_Recruiters

,Name of the Recruiter,Company Hiring,Designation,Location,Skills Required for getting hired
0,Aakash Harit,Data Science Network,HR Manager,Delhi,"Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional"
1,shravan Kumar Gaddam,Shore Infotech India Pvt. Ltd,Company Recruiter,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software"
2,MARSIAN Technologies LLP,MARSIAN Technologies LLP,Company HR,Pune,"Data Science, Artificial Intelligence, Machine Learning, Business Analytics"
3,Anik Agrawal,Enerlytics Software Solutions Pvt Ltd,Company Recruiter,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws"
4,subhas patel,LibraryXProject,Founder CEO,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL"
5,Abhishek - Only Analytics Hiring - India and,Apidel Technologies Division of Transpower,Recruitment Lead Consultant,Vadodara / Baroda,"Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big"
6,Institute for Financial Management and Resear,IFMR,Programme Manager,Chennai,Data Science
7,Balu Ramesh,Techvantage Systems Pvt Ltd,HR Administrator,Trivandrum,"Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End"
8,Asif Lucknowi,Weupskill- Live Wire India,Director,Indore,"Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil"
9,InstaFinancials,CBL Data Science Private Limited,Human Resource,Bengaluru / Bangalore,"Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript"
10,Kalpana Dumpala,Innominds Software,Executive Hiring,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep"
11,Mubarak,MoneyTap,Company HR,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi"
12,Kushal Rastogi,QuantMagnum Technologies Pvt. Ltd.,Company HR,Mumbai,"Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human"
13,Ruchi Dhote,Bristlecone India Ltd,Senior Executive Talent Acquisition,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power Bi, Data Science, Machine Learning"
14,Mahesh Babu Channa,SocialPrachar.com,HR Team Lead,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager"
15,Kapil Devang,BISP Solutions,HR Manager,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
16,Manisha Yadav,Easi Tax,HR Executive,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing"
17,Riya Rajesh,Novelworx Digital Solutions,Manager Talent Acquisition,Cochin,Data Science
18,Rashmi Bhattacharjee,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,HR Head,Delhi,"Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship"
19,Faizan Kareem,FirstTech Consaltants Pvt.Ltd,HR MANAGER,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining"
20,Rithika dadwal,Affine Analytics,HR Recruiter,Pune,"Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop"
21,Sandhya Khandagale,Compumatrice Multimedia Pvt Ltd,HR Recruiter,Pune,"Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring"
22,Shaun Rao,Exela Technologies,Manager Human Resources,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology"
23,Azahar Shaikh,NEAL ANALYTICS SERVICES PVT LTD,Company Recruiter,Pune,"Data Science, Artificial Intelligence, Machine Learning, Data Analytics"
24,Manas,Autumn Leaf Consulting Services Private...,Lead Talent acquisition,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js"
25,kumar,trainin,Proprietor,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data"
26,Sunil Vedula,Nanoprecise Sci Corp,CEO,Delhi,"Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data"
27,Rajat Kumar,R.S Consultancy &amp; Services,Founder CEO,Bengaluru / Bangalore,"Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture"
28,Priya Khare,Independent Consultant,Senior Manager,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analytics, Business Intelligence, python, tableau, Power Bi, qlikview, sql, Data Warehousing, Data Visualization"
29,Dhruv Dev Dubey,Confidential,Company Recruitment Head,Mysoru / Mysore,"Server Administartion, Verilog, Vhdl, Digital Marketing, Market Research, Property Research, Legal, It And Non It Recruitment, Logistics, Supply Chain, Bfsi"
30,Jayanth N,"Dollarbird Information Services Pvt, Ltd",Project Manager,Bengaluru / Bangalore,"Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience"
31,Radha Manivasagam,Techcovery,HR Executive,Noida,"Python, Artificial Intelligence, Machine Learning, Data Science"
32,Prateek Kumar,Trisect,Head,New Delhi,"Java, Python, Angularjs, Software Testing, Machine Learning, Data Science, Javascript, Django, React.js, Node.js, Augmented Reality, Virtual Reality, Advanced"
33,Amit Sharma,ASCO consulting,Consultant,Chennai,"Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java"
34,Kanan,NY INST,senior technology instructor,Aligarh,"C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++"
35,Shashikant Chaudhary,3D India Staffing Research &amp; Consulting...,HR Recruiter/HR Excutive,Salt Lake City,"Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written"
36,Brad,O.C. Tanner,"Manager, Technical Recruiting",Pune,"Data Science, Software Engineering"
37,Rutuja Pawar,Demand Matrix,Technical Recruiter,Bengaluru / Bangalore,"Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management"
38,Madhusudhan Sridhar,MADHUSUDHAN SRIDHAR,Erp Implementer,Mumbai,"Data Science, Recruitment, Salary"
39,Ankit Sinha,Suntech Global,Head Analytics,Indore,"B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview"
40,Gaurav Chouhan,Strategic Consulting Lab,Chief Technical Officer,Bengaluru / Bangalore,"Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented"
41,Rashi Kacker,Impel Labs Pvt. Ltd.,Sr Product Manager,MYSORE,"Data Science, Node.js, Angularjs"
42,Ashwini,MRP Advisers,Director Global Delivery,Hyderabad / Secunderabad,"Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql"
43,Balaji Kolli,Saras Solutions India Pvt Ltd,Co Founder,Bengaluru / Bangalore,"Data Analysis, Learning, Data Science, Computer Science, Communication Skills"
44,Rajani Nagaraj,WildJasmine,HR Manager,Mumbai,"Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata"

### 8. Scrape the details of Highest selling novels.
- Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
- You have to find the following details:
    - A) Book name
    - B) Author name
    - C) Volumes sold
    - D) Publisher
    - E) Genre

In [68]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [69]:
Data = []
rk = driver.find_elements_by_xpath('//td[@class="left"]')
for i in rk:
    try:
        Data.append(i.text)
        
    except NoSuchElementException:
        Data.append('-')
        
#Data

In [70]:
rank = []
for i in range(0,len(Data),5):
    rank.append(Data[i])
#rank

In [71]:
title = []
for i in range(1,len(Data),5):
    title.append(Data[i])
#title

In [72]:
author = []
for i in range(2,len(Data),5):
    author.append(Data[i])
#author

In [73]:
VolumeSales = []
for i in range(3,len(Data),5):
    VolumeSales.append(Data[i])
#VolumeSales

In [74]:
Publisher = []
for i in range(4,len(Data),5):
    Publisher.append(Data[i])
#Publisher

In [75]:
Genre = []
gn = driver.find_elements_by_xpath("//td[@class='last left']")
for i in gn:
    Genre.append(i.text)
#Genre

In [76]:
top_books_sold = pd.DataFrame({})
top_books_sold['Rank'] = rank
top_books_sold['Novel Name'] = title
top_books_sold['Author Name'] = author
top_books_sold['Volumes Sales'] = VolumeSales
top_books_sold['Publisher'] = Publisher
top_books_sold['Genre'] = Genre
top_books_sold

,Rank,Novel Name,Author Name,Volumes Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the Love of a Family","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 9. Scrape the details most watched tv series of all time from imdb.com.
- Url = https://www.imdb.com/list/ls095964455/
- You have to find the following details:
    - A) Name
    - B) Year span
    - C) Genre
    - D) Run time
    - E) Ratings
    - F) Votes

In [77]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [78]:
Name = []
nm = driver.find_elements_by_xpath("//h3[@class='lister-item-header']//a")

for i in nm:
    try:
        Name.append(i.text)
    except NoSuchElementException:
        Name.append('-')
        
#Name

In [79]:
Year = []
yr = driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")

for i in yr:
    try:
        Year.append(i.text)
    except NoSuchElementException:
        Year.append('-')
        
#Year

In [80]:
Genre = []
gn = driver.find_elements_by_xpath("//span[@class='genre']")

for i in gn:
    try:
        Genre.append(i.text)
    except NoSuchElementException:
        Genre.append('-')
        
#Genre

In [81]:
Runtime = []
rt = driver.find_elements_by_xpath("//span[@class='runtime']")

for i in rt:
    try:
        Runtime.append(i.text)
    except NoSuchElementException:
        Runtime.append('-')
        
#Runtime

In [82]:
Rating = []
rat = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")

for i in rat:
        Rating.append(i.text)
        
#Rating

In [83]:
Votes = []
vot = driver.find_elements_by_xpath("//p[@class='text-muted text-small']//span")

for i in vot:
    try:
        Votes.append(i.text)
    except NoSuchElementException:
        Votes.append('-')
        
#Votes

In [84]:
votes = []
for i in range(6,len(Votes),7):
    votes.append(Votes[i])
#votes

In [85]:
Top_TVSeries_IMdb = pd.DataFrame({})
Top_TVSeries_IMdb['TV Series Title'] = Name
Top_TVSeries_IMdb['Year Span'] = Year
Top_TVSeries_IMdb['Genre'] = Genre
Top_TVSeries_IMdb['Runtime'] = Runtime
Top_TVSeries_IMdb['Rating'] = Rating
Top_TVSeries_IMdb['Number of Votes'] = votes
Top_TVSeries_IMdb

,TV Series Title,Year Span,Genre,Runtime,Rating,Number of Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,846,112"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"883,953"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"884,735"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"265,875"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"226,721"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,978"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,673"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"171,482"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,533"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"194,795"

### 10. Details of Datasets from UCI machine learning repositories.
- Url = https://archive.ics.uci.edu/
- You have to find the following details:
    - A) Dataset name
    - B) Data type
    - C) Task
    - D) Attribute type
    - E) No of instances
    - F) No of attribute
    - G) Year
- Note: - from the home page you have to go to the Show All Dataset page through code.

In [86]:
driver.get("https://archive.ics.uci.edu/")

In [88]:
link = driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a").get_attribute('href')
driver.get(link)

In [89]:
Name = []
nm = driver.find_elements_by_xpath("//p[@class='normal']//b//a")

for i in nm:
    try :
        Name.append(i.text)
        
    except NoSuchElementException:
        Name.append('-')
        
#Name

In [90]:
Data = []
dt = driver.find_elements_by_xpath("//p[@class='normal']")

for i in dt:
    try :
        Data.append(i.text)
        
    except NoSuchElementException:
        Data.append('-')
        
#Data

In [91]:
DataType = []
for i in range(9,len(Data),7):
    DataType.append(Data[i])
#DataType

In [92]:
Task = []
for i in range(10,len(Data),7):
    Task.append(Data[i])
#Task

In [93]:
Atribute = []
for i in range(11,len(Data),7):
    Atribute.append(Data[i])
#Atribute

In [94]:
Instances = []
for i in range(12,len(Data),7):
    Instances.append(Data[i])
#Instances

In [95]:
noattributes = []
for i in range(13,len(Data),7):
    noattributes.append(Data[i])
#noattributes

In [96]:
year =[]
for i in range(14,len(Data),7):
    year.append(Data[i])
    
#year

In [97]:
UCI_Repositories = pd.DataFrame({})
UCI_Repositories['Name of the Repository'] = Name[:588]
UCI_Repositories['Data Types'] = DataType[:588]
UCI_Repositories['Default Task'] = Task[:588]
UCI_Repositories['Attribute Types'] = Atribute[:588]
UCI_Repositories['Number of Instances'] = Instances[:588]
UCI_Repositories['Number of Attributes'] = noattributes[:588]
UCI_Repositories['Year of Publish'] = year[:588]
UCI_Repositories

,Name of the Repository,Data Types,Default Task,Attribute Types,Number of Instances,Number of Attributes,Year of Publish
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021